<!DOCTYPE html>
<html lang="ptbr">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
        <% if(req.session.loggedin) { %>
        <%- include('../partials/menu_dashboard'); %>
        <% } %>        
        </header>
<br>
<h1>Postagem</h1>
<br>
    <main>

    <%- include('../partials/posts'); %>
    
    </main>
<br>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>